$icon-font-path: '../fonts/';
$emas : #edc347;
$black : #1e1e1e;
$toska : #45becc;
$donker : #012b70;
$pink : #da1c5c;
// bower:scss
// endbower

@import url('../bower_components/components-font-awesome/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'components/_index.scss';
@import 'components/_two.scss';
@import 'components/_three.scss';
@import 'components/_four.scss';
@import 'components/_five.scss';

/* Space out content a bit */
body {
  padding: 0px;
  margin:0;
}
button.btn {
  background: $emas;
  padding:10px 30px;
  margin-top: 10px;
  border-radius:10px;
  border:none;
  cursor: pointer;
  border:1px solid white;
  &:hover{
    font-weight: bold;
  }
}
.black{color:black !important;}

//scroll color 
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background:white;
}
 
::-webkit-scrollbar-thumb {
    background:black;
}

.navigat{
  .icon{
    position: fixed;
    top: 40%;
    background: black;
    padding: 10px;
    font-size: 25px;
    color: white;
    cursor: pointer;
  }
  ul{
    display: none;
    position: fixed;
    height: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    padding: 200px;
    width: 40%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 99;
    li{
      list-style-type: none;
      padding: 10px;
      margin-bottom: 10px;
      background: black;
      text-align: center;
      a{
        text-decoration: none;
        color: white;
        font-size: 30px;
      }
    }
  }
}