.page-five{
	font-family: 'Nunito', sans-serif;
	header{
		position: fixed;
		top: 0;
		z-index: 99;
		background: $pink;
		text-align: center;
		width: 100%;
		padding: 20px 0;
		.brand{
			font-size: 60px;
			cursor: pointer;
			transition: 0.3s;
			&:hover{
				letter-spacing: 2px;
			}
		}
		nav{
			display: none;
			.left, .right{
				width: 47%;
				margin: 10px;
				display: inline-block;
				height: 100vh;
			}
			.left{
				text-align: right;
			}
			.right{
				text-align: left;
			}
			ul{
				padding: 0;
				margin: 0;
				li{
					list-style-type: none;
					padding:5px;
					font-size: 30px;
				}
				a{
					text-decoration: none;
					color: white;
					transition: 0.3s;
					&:hover{
						color: black;
						letter-spacing: 2px;
					}
				}
			}
		}
	}
	.banner{
		background: url('../images/slide-1.png') center no-repeat;
		background-position: center;
		background-size: cover;
		height: 80vh;
		padding: 200px 200px 0 200px;
		text-align: center;
		color: $pink;
		h1{
			font-size: 60px;
		}
		p{font-size: 20px;}
		i{
			transition: 0.3s;
			cursor: pointer;
			&:hover{
				border-bottom: 2px solid white;
			}
		}
	}
	h1.title{
		background: $pink;
		margin: 0;
		padding: 15px 0 15px 100px;
		position: relative;
		&:after{
			content: '\2b9f';
			position: absolute;
			right: 100px;
		}
	}
	button{
		padding:10px 15px;
		background: white;
		border: 2px solid $pink;
		color: $pink;
		transition: 0.3s;
		cursor: pointer;
		&:hover{
			background: $pink;
			color: white;
			border-radius: 100px;
		}
		&:focus{
			outline: none;
		}

	}
	.container{
		width: 900px;
		margin: auto;
	}
	.about{
		.container{
			display: flex;
			padding: 50px 0 50px 0;
			.image, .desc{
				width: 50%;
			}
			.image{
				background: $pink;
			}
			.desc{
				margin: 0 40px;
				vertical-align: top;
				text-align: justify;
				h1{margin-top: 0;}
			}
		}
	}
	.testimonial{
		.slide{
			padding: 50px 0;
		}
	}
	.works{
		.item-works{
			width: 28%;
			display: inline-block;
			margin: 50px 22px;
			text-align: center;
			.image{
				background: $pink;
				height: 252px;
				border-radius: 100%;
				position: relative;
				font-size: 100px;
				transition: 0.3s;
				&:hover{
					opacity: 0.7;
				}
				.icon{
					margin: 0;
					position: absolute;
					left: 50%;
					top: 0%;
					transform: translate(-50%, 40%);
					cursor: pointer;

				}
			}
			.title{
				margin: 20px 0;
				font-size: 20px;
			}
		}
		.show{
			background: #27094d;
			padding: 100px;
			color: $pink;
			.image, .desc{
				width: 45%;
				display: inline-block;
				margin: 10px;
			}
			.image{
				background: $pink;
				height: 430px;
				
			}
			.desc{
				margin: 0 40px;
				vertical-align: top;
				text-align: justify;
				h1{margin-top: 0;}
			}
		}
	}
	.link{
		.item-link{
			display: flex;
			color: white;
			.left, .right{
				width: 50%;
				padding: 20px;
			}
			.left{
				background: #9e1f63;
			}
			.right{
				background: #1b1735;
			}
			.icon{
				text-align: center;
				font-size: 200px;
			}
		}
	}
	.contact{
		form{
			margin: 50px 0;
			input{
				width: -webkit-fill-available;
				padding: 14px;
				margin-bottom: 10px;
				border: none;
				border-bottom: 2px solid $pink;
				&:focus{
					outline: none;
				}
			}
			button{
				margin-top: 14px;
			}
		}
	}
	.maps{
		iframe{
			height: 400px;
		}
	}
	footer{
		color: white;
		.top{

		}
		.bottom {
			background: #27094d;
			padding: 10px 100px;
			.left, .right{
				width: 48%;
				display: inline-block;
			}
			.right{
				text-align: right;
				i{
					padding: 0 10px;
				}
			}
		}
	}
}

@media all and (max-width:450px){
	.page-five{
		.container{
			width: 100% !important;
		}
		header{
			nav{
				height: 100vh;
				.left, .right{
					width: 50% !important;
					height: 0 !important;
					margin: 0;
				}
				ul{
					text-align: center;
					
				}
			}
		}
		.banner{
			padding: 100px 20px !important;
			h1{
				font-size: 15px;
			}
		}
		h1.title{
			padding: 15px !important;
			&:after{
				right: 15px !important;
			}
		}
		.about{
			.container{
				flex-flow: row wrap;
				.image, .desc{
					width: 100% !important;
				}
				.image{
					height: 200px;
					margin: 20px;
				}
			}
		}
		.link{
			.item-link{
				flex-flow: row wrap;
				.left, .right{
					width: 100% !important;
				}
			}
		}
		.testimonial{
			.slide{
				p{
					padding: 20px;
				}
			}
		}
		.works{
			h1.title{
				text-align: left;
			}
			text-align: center;
			.item-works{
				width: 70% !important;
				margin: 50px 22px 0px 22px !important;
			}
			.show{
				padding: 20px !important;
				.image, .desc{
					width: 90% !important;
				}
				.desc{
					margin: 0 !important;
				}
			}
		}
		.contact{
			form{
				padding: 20px;
			}
		}
		footer{
			.bottom{
				padding: 10px !important;
				.left, .right{
					width: 100% !important;
					text-align: center !important;
				}
			}
		}
	}
	
}

@media all and (min-width: 768px) and (max-width: 1024px){
	.page-five{
		.container{
			width: 100% !important;
		}
		.about{
			.container{
				padding:50px 10px !important;
			}
		}
		.testimonial{
			.slide{
				p{
					padding: 20px;
				}
			}
		}
		.works{
			.item-works{
				width: 30% !important;
				margin: 50px 11px !important;
				.image{
					height: 240px !important;
				}
			}
			.show{
				padding: 20px !important;
				.image, .desc{
					width: 46% !important;
				}
				.desc{
					margin: 15px !important;
				}
			}
		}
		.contact{
			form{
				padding: 20px;
			}
		}
		
	}
}