.page-four{
	font-family: 'Montserrat', sans-serif;
	.container{
		width: 1000px;
		margin: auto;
	}
	button{
		padding: 10px 20px;
		background: transparent;
		border-radius: 100px;
		color: white;
		border: 2px solid white;
		cursor: pointer;
		transition: 0.3s;
		&:focus{
			outline: none;
		}
		&:hover{
			background: white;
			color: black;
		}
	}
	header{
		.top{
			background: $donker;
			color: white;
			.container{
				display: flex;
				div{
					width:50%;
					padding: 10px;
				}
				.left{
					font-size: 13px;
				}
				.right{
					text-align: right;
					i{
						padding:0 10px;
						&:hover{
							transform: scale(1.2);
						}
					}
				}
			}
		}
		nav{
			background: black;
			ul{
				padding: 0;
				margin: 0;
				position: relative;
				li{
					list-style-type: none;
					display: inline-block;
					text-align: center;
					padding: 20px;
					font-weight: bold;
					font-size: 15px;

				}
				a{
					text-decoration: none;
					color: white;
					transition: 0.3s;
					&:hover{
						color: $donker;
					}
				}
				.brand{
					position: absolute;
					right: 10px;
					font-size: 30px;
					padding: 10px;
				}
			}
		}
		.active{
			color: $donker;
		}
	}
	.donker{background: $donker;}
	.black{background: black;}
	.bdonker{background: #001f53;}
	.home{
		background: url('../images/slide-1.png') center no-repeat;
	    background-size: cover;
	    height: 500px;
	    color: white;
	    .caption{
	    	width: 49%;
	    	display: inline-block;
	    	margin-right:20px; 
    		padding: 100px 20px 100px 0;
    		height: 100%;
	    }
	    .contact{
	    	width: 45%;
	    	display: inline-block;
	    	form{
	    		height: 100%;
	    		background: rgba(0,0,0,0.6);
	    		padding: 100px 20px;
	    		input{
	    			width: 90%;
	    			padding:10px;
	    			margin-bottom: 10px;
	    			background: transparent;
	    			border: none;
	    			border-bottom: 2px solid $donker;
	    			color: white;
	    			&:focus{
	    				outline: none;
	    			}
	    		}
	    	}
	    }
	}
    .build{
    	display: flex;
    	.item-bulid{
    		width: 25%;
    		text-align: center;
    		color: white !important;
    		padding:100px 50px;
    		.icon{
    			font-size: 100px;
    		}
    		h1{
    			font-size: 20px;
    		}
    	}
    }
    .services{
    	display: flex;
    	.left{
    		width: 50%;
    		padding: 100px 0;
    		.caption{
    			margin: 50px;
    			ul{
    				padding: 0;
    				margin: 0;
    				box-sizing: border-box;
    				li{
    					list-style-type: none;
    					display: inline-block;
    					padding:12px;
    					cursor: pointer;
    					border-bottom: 2px solid #ccc;
    				}
    				.active{
    					border-bottom: 2px solid $donker;
    				}
    			}
    		}
    		.tab{
    			padding: 20px 0;
    			i{color: $donker;font-weight: bold;}
    		}
    	}
    	.right{
    		width: 50%;
    		display: flex;
    		flex-flow: row wrap;
    		.image{
    			height: 250px;
    			width: 50%;
    			img{
    				width: 100%;
    			}
    		}
    	}
    }
    .equiment{
    	display: flex;
    	flex-flow: row wrap;
    	.item-eq{
    		height: 47vh;
    		width: 50%;
    		position: relative;
    		.caption{
    			position: absolute;
    			top: 40%;
    			transform: translate(0%,-50%);
    			margin: 50px;
    			.desc, .icon{display: inline-block;}
    			.desc{width: 70%;}
    			.icon{font-size: 80px;padding: 20px;}
    		}
    	}
    	.white{color: white;}
    	.cdonker{color: $donker;}
    	.right{text-align: right; border-right: 2px solid white; padding-right: 20px;}
		.rightdonker{border-right:2px solid $donker;}
    	.left{border-left: 2px solid white; padding-left: 20px;}
		.leftdonker{border-left:2px solid $donker;}
    }
    .special{
    	padding:100px 200px;
	    background: black;
	    text-align: center;
	    color: white;
	    .offer{
	    	background: $donker;
	    	text-align: left;
	    	padding: 30px;
	    	position: relative;
	    	margin-top:50px; 
	    	button{
	    		position: absolute;
	    		right: 20px;
	    		bottom: 30px;
	    	}
	    }
    }
    .news{
    	display: flex;
    	.left, .right{width:50%;}
    	.left{
    		display: flex;
    		flex-flow: row wrap;
    		.image{
    			height: 250px;
    			width: 50%;
    			transition: 0.3s;
    			&:hover{
    				opacity: 0.9;
    			}
    		}
    	}
    	.right{
    		position: relative;
    		.caption{
    			margin: 50px;
    			position: absolute;
    			top: 50%;
    			transform: translate(0, -50%);
    		}
    	}
    }
    .about{
    	display: flex;
    	color: white;
    	.item-about{
    		width: 33.4%;
    		.caption{
    			margin: 100px 50px;
    			.icon{
    				margin: 50px 0;
    				i{
    					font-size: 40px;
    					padding: 0 10px;
    					transition: 0.3s;
    					&:hover{
							transform: scale(1.2);
						}
    				}
    			}
    		}
    	}
    }
    footer{
    	color: white;
    	text-align: center;
    	background: black;
    	padding:10px;
    	font-size: 12px;
    }
    :target:before{
		display: block;
		height: 300px;
	}
}

.page-four.sticky-header{
	header{
		nav{
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 99;
		}
	}
}

@media all and (max-width: 450px){
	.page-four{
		.container{
			width: 100%;
		}
		header{

		}
		.home{
			height: 100vh;
			.caption{
				width:90%;
				padding: 20px;
				margin: 0;
			}
			.contact{
				width: 100%;
			}
		}
		.build{
			flex-flow: row wrap;
			.item-bulid{
				width: 50%;
				padding:0;
			}
		}
		.services{
			flex-flow: row wrap;
			.left{
				width: 100%;
				li{
					width: 130px;
				}
			}
			.right{
				width: 100%;
			}
		}
		.equiment{
			.item-eq{
				height: 52vh;
			}
		}
		.special{
			padding:20px;
			.offer{
				padding-bottom: 100px;
			}
		}
		.news{
			flex-flow: row wrap;
			.left, .right{width:100%;}
			.right{
				height: 300px;
			}
		}
		.about{
			flex-flow: row wrap;
			.item-about{
				width: 100%;
			}
		}
	}
}