.page-one{
	button.btn {
	  background: $emas;
	  padding:10px 30px;
	  margin-top: 10px;
	  border-radius:10px;
	  border:none;
	  cursor: pointer;
	  border:1px solid white;
	  &:hover{
	    font-weight: bold;
	  }
	}
	.header{
		color:white;
		position: fixed;
		top:0;
		width: 100%;
		box-shadow: 0px 1px $emas;
		z-index: 99;
		background: black;
		.logo-brand{
			font-size: 30px;
			font-family: 'Berkshire Swash', cursive;
			padding:10px 10px 10px 100px;
			float: left;
			cursor: pointer;
			&:hover{
				color:$emas;
				transform:scale(1.1);
    			transition: .5s;
			}
		}
		nav{
			width: 700px;
			font-family: 'Berkshire Swash', cursive;
			padding:20px;
			display: inline-block;
			ul{
				padding: 0;
				margin:0;
				li{
					list-style-type: none;
					display: inline-block;
					width: 120px;
					text-align: center;
					font-weight: bold;
					transition: 0.6s;
					cursor: pointer;
					position:relative;
					&:hover{
						color:$emas;
						letter-spacing: 2px;
						ul{
							top:60px;
						}
					}
					ul{
						position: fixed;
						top:-190px;
						transition: 1s;
						color:white;
						letter-spacing: normal;
						li{
							border-bottom: 1px solid $emas;
							display: block;
							margin-bottom: 10px;
							background: black;
							padding:10px 0;
						}
					}
				}
			}
			.active{
				color:$emas;
			}
		}
		.icon-sosmed{
			width: 100px;
			float: right;
			padding:20px 100px;
			cursor: pointer;
			i{
				width: 30px;
				text-align: center;
				&:hover{
					color:$emas;
					transform:scale(1.5);
	    			transition: .5s;
				}
			}
		}
	}
	.container{
		width: 800px;
		margin: auto;
	}
	.slide{
		height: 600px;
		background: url('../images/slide-1.png') center no-repeat;
		background-size: cover;
		position: relative;
		.caption-slide{
			position: absolute;
	        top: 50%;
	        left: 50%;
	        transform: translate(-50%, -50%);
			text-align: center;
		}
		h2{
			margin: 0;
		}
		.fa-times{
			color:white;
		}
		button{
			margin-top: 50px;
		}
	}
	.title{
		font-family: 'Berkshire Swash', cursive;
		font-size: 40px;
		margin-top: 50px;
		color: $emas;
	}
	.title-2{
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 5px;
		color: white;
	}
	.our-store{
		margin-top: 100px;
		position: relative;
		height: 500px;
		.item{
			height: 400px;
			width: 40%;
			position: absolute;
		}
		.item-1{
			background: $emas;
			left:0;
			margin-top: 50px;
		}
		.item-2{
			background:black;
			top:0;
			left:50%;
			transform: translate(-50%,50%);
			height: 500px;
			margin-top: -300px;
			width: 45%;
			z-index: 98;
			color:$emas;
			padding:20px;
			.desc{
				border-style: dashed;
				border-width: 1px;
				height: 100%;
				text-align: center;
				p{padding:20px;}
				.image-profile{
					height: 80px;
					width: 80px;
					border-radius: 100%;
					background: $emas;
					margin:10px auto;
				}
				.name{
					font-size: 20px;
					color:white;
				}
				.work{
					font-size: 15px;
					font-weight: bold;
				}
			}
		}
		.item-3{
			background: $emas;
			right: 0;
			margin-top: 50px;
		}
	}
	.our-services{
		margin: 50px 0;
		text-align: center;
		.menu{
			margin-top: 50px;
			display: grid;
			display:grid;
		    grid-template-columns:1fr 1fr 1fr 1fr;
		    grid-gap:20px;
		    grid-template-rows:240px;
		    .menus{

		    }
		    .images-menu{
		    	background: $emas;
		    	border-radius: 100%;
		    	height: 185px;
		    	width: 100%;
		    	transition: 0.9s;
		    	position: relative;
		    	button{
		    		opacity: 0;
		    		transition: 0.9s;
		    		position: absolute;
					top: 45%;
					left: 50%;
					transform: translate(-50%, -50%);

		    	}
		    	&:hover{
		    		opacity: 0.7;
		    		button{
		    			opacity: 1;
		    		}
		    	}
		    }
		    .menu-title{
		    	margin-top: 10px;
		    	font-size: 20px;
		    }
		}
	}
	.booking{
		height: 400px;
		background: url('../images/slide-1.png') center no-repeat;
		background-size: cover;
		padding:100px;
		.content-booking{
			height: 400px;
			display: grid;
			grid-template-columns:1fr 2fr;
			.time{
				background: black;
				text-align: center;
				padding:10px;
				color:white;
				.desc{
					height: 100%;
					border:1px solid $emas;
				}
				.days{
					margin-top: 10px;
					p{font-size: 14px;}
				}
				hr{width:80%;}
			}
			.reservation{
				background: white;
				padding: 10px;
				text-align: center;
				color: black;
				form{
					input{
						margin: 5px;
						padding:10px;
						border:none;
						border-bottom:2px solid black;
					}
				}
			}
		}
	}
	.upcoming{
		text-align: center;
		.event{
			margin-top: 20px;
			display: grid;
			grid-template-columns: 2fr 1.5fr;
			.left{
				height: 340px;
				.name-event{
					margin-bottom: 10px;
					text-align: left;
					.image-event{
						height: 165px;
						width: 200px;
						background: black;
						display: inline-block;
					}
					.desc{
						display: inline-block;
						vertical-align: top;
						padding:10px;
						.title-event{
							color:$emas;
							font-size: 20px;
							font-family: 'Berkshire Swash', cursive;
						}
					}
				}
			}
			.day{
				font-size: 30px;
				color:white;
				height: 70px;
				width: 70px;
				background: $emas;
				margin:auto;
				font-weight: bold;
			}
			.buy-ticket{
				font-weight: bold;
				margin-top: 10px;
			}
			.right{
				background: black;
				padding:20px;
				height: 300px;
				.desc{
					height: 100%;
					background: white;
				}
			}
		}
	}
	.gallery{
		text-align: center;
		.image-gallery{
			margin: 20px 0;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 200px 200px;
			grid-gap:10px;
			.item-gallery{
				background: $emas;
				position:relative;
				opacity: 0.8;
				.overlay{
					opacity: 0;
					transition: 0.8s;
					position:absolute;
					bottom:20px;
					left:20px;

				}
				&:hover{
					opacity: 1;
					.overlay{
						opacity: 1;
					}
				}
			}
		}
	}
	.maps{
		height: 400px;
		margin-top:30px;
	}
	footer{
		display: grid;
		grid-template-columns: 1fr 1fr;
		height: 200px;
		color:white;
		.about{
			background: black;
			padding:20px 20px 20px 150px;
		}
		.contact{
			background: #0c0c0c;
			padding:20px 150px 20px 50px;
			input{
				padding:10px;
				border:none;
				background: black;
				width: 250px;
				color:white;
			}
			i{
				width: 30px;
				text-align: center;
				&:hover{
					color:$emas;
					transform:scale(1.5);
	    			transition: .5s;
				}
			}
		}
	}
}