.page-three{
	font-family: 'Montserrat', sans-serif;
	background: url('../images/slide-1.png') center no-repeat;
	background-attachment: fixed;
    background-size: cover;
	.slide{
		height: 100vh;
		color: white;
		position: relative;
		.caption{
			margin: auto;
			position: absolute;
			left: 50%;
			top:50%;
			transform: translate(-50%, -50%);
			text-align: center;
			.line{
				height: 3px;
				background: white;
				width: 46%;
				display: inline-block;
			}
			.icon{
				font-size: 60px;
				display: inline-block;
				margin-top: -30px;
				vertical-align: top;
				color: $toska;
			}
			.title-upper{
				font-size: 20px;
				margin: -15px 0 0px 0;
				width: 100%;
				height: 30px;
				.left{
					float: left;
				}
				.right{float: right;}
			}
			.headline{
				font-size: 97px;
    			letter-spacing: 12px;
    			line-height: 100px;
    			margin-bottom: 20px;
			}
			.title-lower{
				border-top: 3px solid white;
				padding: 20px 0;
			}
		}	
	}
	.container{
		width: 900px;
		margin: auto;
	}
	header{
		background: white;
		width: 100%;
		display: block;
		a{
			text-decoration: none;
			color: #777;
		}
		ul{
			padding: 0;
			text-align: center;
			margin: 0;
			li{
				list-style-type: none;
				display: inline-block;
				width: 84px;
				padding: 20px;
				transition: 0.4s;
				&:hover{
					letter-spacing: 2px;
				}
			}
			.brand{
				font-size: 50px;
			}
		}
		button{
			display: none;
		}
	}
	.content{
		.title{
			padding: 50px 0 20px 0; 
			color: $toska;
			text-align: center;
			.line{
				height: 1px;
				background: $toska;
				width: 20%;
				display: inline-block;
			}
			.icon{
				display: inline-block;
				font-size: 30px;
			}
		}
		h1{font-size: 60px;line-height: 1;text-align: center;margin-top: 0;}
		.about{
			background: white;
			text-align: center;
			padding-bottom: 10px;
			p{color: #777;}
			.team{
				margin: 50px 0;
				.profile{
					width: 30%;
					margin: 0 13px;
					display: inline-block;
					height: 250px;
					position: relative;
					background: #777;
					.desc{
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						.fa{
							padding: 10px;
						}
					}
				}
			}
		}
		.our-process{
			padding: 100px 0;
			color: white;
			.item-process{
				width: 32%;
				margin: 0 4px;
				display: inline-block;
				.icon{
					height: 60px;
					width: 60px;
					border:2px solid $toska;
					border-radius: 100%;
					position: relative;
					display: inline-block;
					i{
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						font-size: 30px;
					}
				}
				.desc{
					display: inline-block;
					ul{
						padding-left: 25px;
					}
				}
			}
		}
		.services{
			background: white;
			padding: 50px 0 100px 0;
			.item-services{
				color: #777;
				width: 27%;
				margin: 0 6px;
				display: inline-block;
				border: 1px solid $toska;
				padding: 20px;
				text-align: center;
				i{color: $toska;}
				p{text-align: justify;}
			}
		}
		button{
			padding: 10px 30px;
			border: 2px solid $toska;
			border-radius: 100px;
			background: white;
			transition: 0.3s;
			cursor: pointer;
			&:hover{
				background: $toska;
			}
			&:focus{
				outline: none;
			}
		}
		.features{
			background: #eee;
			padding: 50px 0 100px 0;
			.item-features{
				width: 45%;
				padding: 20px;
				text-align: center;
				border: 1px solid $toska;
				h2{font-size:50px;}
				i{
					display: block;
					line-height: 30px;
				}
				button{
					margin: 20px 0;
				}
			}
		}
		.work{
			background: white;
			padding: 50px 0;
			text-align: center;
			.item-work{
				width: 33.1%;
				display: inline-block;
				margin-bottom: 20px;
				position: relative;
				overflow: hidden;
				.image{
					background: $toska;
					height: 300px;
					max-width: 100%;
					transition: all 0.2s;
					&:hover{
						transform: scale(1.1);
						opacity: 0.8;
					}
				}
			}
		}
		.status{
			background: #eee;
			padding: 100px 0;
			.item-status{
				text-align: center;
				width: 24%;
				border-left: 1px solid $toska;
				display: inline-block;
				margin: 0 2px;
				padding:10px 0;
				.icon{font-size: 50px;}
				h6{
					margin: 5px 0;
					font-size: 20px;
				}
			}
		}
		p{text-align: center;}
		.pricing{
			color: white;
			padding: 50px 0 100px 0;
			.item-pracing{
				width: 22%;
				padding: 20px;
				border:2px solid white;
				text-align: center;
				margin: 0 15px;
				display: inline-block;
				h2{color: $toska;}
				i{
					display: block;
					line-height: 30px;
				}
				sup{
					font-size: 20px;
					vertical-align: top;
				}
				sub{
					font-size: 20px;
					margin-left: -5px;
					font-style: italic;
				}
				p{
					font-size: 70px;
					margin: 20px 0;
				}
			}
			.value{
				width: 30%;
				padding: 50px 20px;
			}
		}
		.blog{
			background: white;
			padding: 0 0 100px 0;
			.item-blog{
				text-align: center;
				width: 49.8%;
				height: 300px;
				display: inline-block;
				background: $toska;
				position: relative;
				cursor: pointer;
				&:hover{
					.desc{
						.title-blog{
							letter-spacing: 2px;
						}
					}
				}
				.desc{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					.day{
						font-style: italic;
						font-size: 25px;
					}
					.title-blog{
						font-size: 30px;
						padding: 10px;
						transition: 0.5s;
					}
					.posted{
						letter-spacing: 2px;
						font-size: 13px;
					}
					hr{
						width: 50%;
						background: white;
						height: 1px;
						border: none;
					}
				}
			}
		}
		.contact{
			padding: 50px 0;
			color: white;
			.item-contact{
				width: 32%;
				margin: 0 4px;
				display: inline-block;
				text-align: center;
				.fa{padding: 10px 0;}
			}
			form{
				border: 2px solid $toska;
				margin: 50px 0;
				text-align: center;
				padding: 20px 20px 30px 20px;
				position: relative;
				input{
					padding: 10px;
					margin-bottom: 10px;
					width: 80%;
					background: transparent;
					border: none;
					border-bottom: 2px solid white;
					color: white;
					font-style: italic;
					font-size: 17px;
					&:focus{
						outline: none;
					}
				}
				button{
					margin: 30px 0;
					position: absolute;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.sosmed{
				text-align: center;
				font-size: 30px;
				i{
					font-size: 25px;
					padding: 0 10px;
				}
			}
			.copyright{
				margin: 50px 0;
				text-align: center;
				font-size: 15px;
				color: #777;
			}
		}
	}
}

.page-three.sticky-header{
	padding-top: 100px;
	header{
		position: fixed;
		z-index: 99;
		top: 0;
		border-bottom: 1px solid $toska;
	}
	
}
@media all and (max-width: 450px){
	.page-three{
		.container{
			width: 100% !important;
		}
		.slide{
			.caption{
				width: 90%;
				.line{
					width: 40%;
				}
				.headline{
					font-size: 25px;
				}
			}
		}
		header{
			background: white;
			width: 100%;
			position: fixed;
			top: 0;
			padding:20px 10px 10px 0px;
			z-index: 98;
			nav{
				display: none;
				height: 100vh;
				overflow: hidden;
				ul{
					margin: 0;
					width: 90%;
					li{
						display: block;
						width: 100%;
					}
				}
			}
			button{
				border: none;
				background: white;
				font-size: 20px;
				display: block;
				&:focus{
					outline: none;
				}
			}
		}
		.content{
			.about{
				.team{
					.profile{
						width: 90%;
					}
				}
			}
			.our-process{
				.item-process{
					width: 90%;
					text-align: center;
					margin-bottom: 10px;
				}
			}
			.services{
				.item-services{
					width: 85%;
					margin: 10px;
				}
			}
			.features{
				.item-features{
					width: 80%;
					margin:0 20px;
				}
			}
			.work{
				padding: 20px;
				.item-work{
					width: 90%;
				}
			}
			.status{
				.item-status{
					width: 48%;
					border: none;
				}
			}
			.pricing{
				.item-pracing{
					width: 80%;
					margin-bottom: 10px;
				}
			}
			.blog{
				padding:10px;
				.item-blog{
					width: 100%;
				}
			}
			.contact{
				padding:10px;
				.item-contact{
					width: 100%;
					margin-bottom: 10px;
				}
				.sosmed{
					font-size: 15px;
				}
			}
		}
	}
}