.page-two{
	background: #efefef;
	font-family: 'Oswald', sans-serif;
	width:100%;
	.container{
		width: 900px;
		margin: auto;
	}
	header{
		background: $black;
		color: white;
		width: 100%;
		position: fixed;
		top:0;
		z-index: 99;
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				display: inline-block;
				width: 100px;
				text-align: center;
				padding:20px;
			}
			input{
				padding:5px;
				width: 100%;
				background: black;
				color: white;
				border:1px solid white;
				&:focus{
					outline: none;
				}
			}
		}
		.brand{
			background: white;
			color:green;
			text-align: center;
			padding:10px;
			font-size: 50px;
			vertical-align: top;
			box-shadow: 0px 5px 5px #aaa;
		}
		button{
			display: none;
		}
	}
	.slide{
		margin-top: 150px;
		height: 500px;
		background: $black;
		position:relative;
		top:50px;
		.caption{
			color: white;
			width: 300px;
			text-align: center;
			position:absolute;
			left:50%;
			top:50%;
	        transform: translate(-50%, -50%);
		}
	}
	h3{margin-bottom: 0;}
	.tittle{
		background: green;
		color:white;
		padding:5px;
		display: inline-block;
	}
	.content{
		margin-top: 100px;
		.feature{
			background: $black;
			position:relative;
			padding:50px 20px;
			margin-bottom: 50px;
			.tittle{
				padding:10px;
				position:absolute;
				top:0px;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.item-image{
				margin:13px;
				width: 30%;
				height: 200px;
				background: #efefef;
				display: inline-block;
				position:relative;
				button{
					position:absolute;
					bottom:10px;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 80%;
					padding: 5px;
					border: 1px solid green;
					color: green;
					background: #efefef;
					font-weight: bold;
					&:hover{
						background: green;
						color:white;
					}
				}
			}
		}
		.latepost{
			display: block;
			text-align: center;
		}
		.latest-posts{
			// height: 300px;
			background: white;
			margin: 50px 0 25px 0;
			padding:20px;
			position:relative;
			section{
				width: 48%;
				display: inline-block;
				height: 100%;
				margin: 7px;
				
			}
			.image-post{
				background: $black;
				margin-top: -40px;
				height: 300px;
			}
			.desc-post{
				vertical-align: top;
				.read{
					font-size: 13px;
					color: green;
					letter-spacing: 1px;
				}
			}
		}
		.nav-post{
			height: 50px;
			.prev{
				float: left;
			}
			.next{
				float: right;
			}
		}
		.posting{
			background: white;
			box-shadow: 0px -5px 5px #aaa;
			padding: 50px 0 ;
			.post{
				// background: $black;
				// padding:20px 20px 50px 20px;
				.item-post{
					// margin:13px;
					width: 31.5%;
					background: white;
					height: 100%;
					display: inline-block;
					vertical-align: top;
				}
				.my-story{
					text-align: justify;
					margin: 0 10px 0 0px;
					.image-story{
						margin: 20px 0; 
						height: 150px;
						background: black;
					}
				}
				.ig{
					margin: 0 10px 0 10px;
					.image-ig{
						margin: 20px 0; 
						display: grid;
						grid-template-columns:1fr 1fr 1fr;
						grid-gap:5px;
						grid-template-rows: 100px 100px 100px;
						.item-ig{
							background: $black;
						}
					}
				}
				.recent{
					margin: 0 0 0 10px;
					.item-recent{
						margin: 20px 0 5px 0; 
						.image{
							display: inline-block;
							width: 30%;
							background: $black;
							height: 100px;
						}
						.desc{
							width: 68%;
							display: inline-block;
							vertical-align: top;
						}
						h4{
							margin: 1px 0;
						}
					}
				}
			}
		}
	}
	footer{
		background: $black;
		color: #ccc;
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				display: inline-block;
				width: 14%;
				text-align: center;
				padding:20px;
				font-size: 15px;
				i{padding:0 5px;}
			}
		}
		.copyright{
			text-align: center;
			b{
				color: green;
			}
		}
	}
}
//mobile phone
@media all and (max-width: 480px){
	.page-two{
		header{
			ul{
				display: none;
				li{
					width: 89%;
				}
			}
			button{
				display: block;
				padding: 10px;
				background: black;
				color: white;
				border: none;
			}
		}
		.slide{
			margin-top: 70px;
		}
		.container{
			width: 100%;
		}
		.content{
			.feature{
				.item-image{
					width: 100%;
					margin: 10px 0;
					height: 250px;
				}
			}
			.latest-posts{
				section{
					width: 100%;
					margin: 0;

				}
			}
			.image-post{
				margin: 10px 0 !important;
			}
			.desc-post{
				text-align: justify;
				.tittle{
					display: block;
					text-align: center;
				}
			}
			.posting{
				.post{
					padding: 20px;
					.item-post{
						width: 100%;
						margin: 0;
					}
				}
			}
		}
		footer{
			ul{
				text-align: center;
				li{
					width: 33%;
				}
			}
		}
	}
}

//mobile landscape
@media all and (min-width: 481px) and (max-width: 950px){

}

//tabs
@media all and (min-width: 768px) and (max-width: 1024px){
	.page-two{
		.container{
			width: 100%;
		}
		header{
			ul{
				text-align: center;
			}
		}
		.content{
			.feature{
				.item-image{
					margin: 10px;
				}
			}
			.latest-posts{
				section{
					width: 47%;
					margin: 10px;
				}
			}
			.posting{
				padding:10px;
				.post{
					
					.item-post{
						width: 31%;
					}
				}
			}
		}
		footer{
			ul{
				li{
					width: 17%;
					padding: 10px 5px;
				}
			}
		}
	}
}